.password-block {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  align-items: center;
  padding: 10px;
  border: 1px solid saddlebrown;
  background-color: beige;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}
